<div>
<img class="image-responsive brand-logo" src="willis-towers-watson-logo.png">
</div>

<div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-left" >
              
                <li><a routerLink="/market-security" routerLinkActive="active" >Market Security</a>
                </li>
                <li><a routerLink="/market-security-admin" routerLinkActive="active" >Market Security Admin</a>
                </li>
            </ul>
        </div>
    </div>
</div>

