<div>
	<p>Welcome to Market Security</p>
	<p>Welcome to the Market Security site within the willis</p>
	<p>An essential part of the Willis philosphy involves the selection of market which are in the best interest of the clients. This new facility has been specially developed for our Willis clients to support all your Market Security information needs</p>
	<p>We will continue to develop the site based on your feedback, so please let us know your suggestions and comments for consideration as we seek enhance our service delivery to you</p>
	<p>Kindly Regards</p>
	<p>Sally Bamal
		<br> Managing Director
		<br> Global Carrier Management
		<br> Willis</p>
</div>
<div> <a>Contact Market Security</a> </div>
<div class="col-md-12 sub-form">
	<div class="col-md-6">
		<p class="ms-text">What's New</p>
	</div>
	<div class="col-md-6 ">
		<button type="button" class="btn-hard pull-right">Export to Excel ></button>
	</div>
</div>

<hr class="style">