<div class="msa-heading">
	<h4>Set Reoprts</h4> </div>
<div class="msa-list">
	<ul>
		<li><a>Audit Trail Changes</a></li>
		<li><a>Approved List</a></li>
		<li><a>Carrier Approval List</a></li>
		<li><a>Operating Status/Company Type Report</a></li>
		<li><a>Group Report</a></li>
		<li><a>Rating Update Report</a></li>
		<li><a>Marketing Report-Comparative Changes</a></li>
		<li><a>Marketing Report-Comparative Changes</a></li>
	</ul>
</div>
<div class="msa-heading">
	<h4>Customised Report (MSD Only)</h4> </div>
<div class="msa-list">
	<ul>
		<li><a>Administration Code Report</a></li>
		<li><a>Market Comparision Report</a></li>
		<li><a>Rating Agency Code Report</a></li>
	</ul>
</div>