<div>
	<ul class="nav nav-tabs">
		<li><a class="nav-link" routerLink="/carrier-details/summary" routerLinkActive="active">Summary</a></li>
		<li><a class="nav-link" routerLink="/carrier-details/financials" routerLinkActive="active">Financials</a></li>
		<li><a class="nav-link" routerLink="/carrier-details/documents" routerLinkActive="active">Documents</a></li>
		<li><a class="nav-link" routerLink="/carrier-details/licenses" routerLinkActive="active">Licenses</a></li>
	</ul>
</div>
<div class="cd-content">
	<router-outlet></router-outlet>
</div>