
<hr class="style .hidden-md-up">
<div class="col-md-12">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="control-label col-md-2">First name</label>
			<div class="col-md-2">
				<input type="text" class="form-control" id="name" placeholder="">
			</div>
			<label for="address" class="control-label col-md-2">Second name</label>
			<div class="col-md-2">
				<input type="text" class="form-control" id="address" placeholder=""> </div>
			<label class="control-label"></label>
			<div class="col-md-offset-2 col-md-2">
				<button type="submit" class="btn">Submit</button>
			</div>
		</div>
	</form>
</div>
<hr class="style">
<div class="col-md-12">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="name" class="control-label col-md-2">First name</label>
			<div class="col-md-2">
				<input type="text" class="form-control" id="name" placeholder="">
			</div>
			<label for="text" class="control-label col-md-2">Second name</label>
			<div class="col-md-2">
				<input type="text" class="form-control" id="address" placeholder="">
			</div>
			<label for="email" class="control-label col-md-2">Email</label>
			<div class="col-md-2">
				<input type="text" class="form-control" id="email" placeholder="">
			</div>
		</div>
		<div class="form-group">
			<label for="name" class="control-label col-md-2">First name</label>
			<div class="col-md-2">
				<input type="text" class="form-control" id="name" placeholder="">
			</div>
			<label for="address" class="control-label col-md-2">Second name</label>
			<div class="col-md-2">
				<input type="text" class="form-control" id="address" placeholder="">
			</div>
			<label for="email" class="control-label col-md-2">Email</label>
			<div class="col-md-2">
				<input type="text" class="form-control" id="email" placeholder="">
			</div>
		</div>
	</form>
</div>
<hr class="style">
<div class="row">
	<div class="col-md-12">
		<ag-grid-ng2 class="ag-blue" style="height: 400px; width:100%; font-size:20;" [gridOptions]="gridOptions" rowHeight="40" rowSelection="multiple" > </ag-grid-ng2>
	</div>
</div>
